.App {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--primaryColor);
  color: var(--thirdColor);
}

.isDark {
  background-color: var(--mainBgDark);
  color: var(--primaryColor);
}
