.RectangleButton {
  width: 100%;
  padding: 14px 0;
  border: 1px solid transparent;
  border-radius: 6px;
  color: var(--primaryColor);
  cursor: pointer;
}

.green {
  background-color: var(--accent);
}
.green:hover {
  color: var(--secondColor);
}

.black {
  background-color: var(--mainBgDark);
}
.black:hover {
  color: var(--accent);
}

.gray {
  background-color: var(--secondBg);
  color: var(--thirdColor);
}
.gray:hover {
  background-color: transparent;
  border-color: var(--thirdColor);
}

@media screen and (min-width: 768px) {
  .RectangleButton {
    padding: 18px 0;
  }
}
