.CurvedButton {
  border-radius: 24px 44px;
  border: 1px solid var(--primaryColor);
  background-color: transparent;
  color: var(--primaryColor);

  transition: ease-in-out 0.25s;
}

.CurvedButton:hover {
  border-color: var(--accent);
  color: var(--accent);
}

.green {
  border: none;
  background-color: var(--accent);
}

.green:hover {
  color: var(--primaryColor);
  background-color: var(--secondColor);
}

.black {
  border: none;
  background-color: var(--secondColor);
}

.black:hover {
  color: var(--primaryColor);
  background-color: var(--accent);
}

.big {
  padding: 12px 24px;
}

.small {
  padding: 6px 14px;
}

@media screen and (min-width: 768px) {
  .big {
    padding: 22px 44px;
  }
  .small {
    padding: 12px 32px;
  }
}

@media screen and (min-width: 1024px) {
  .big {
    padding: 23px 52px;
  }
  .small {
    padding: 14px 38px;
  }
}
