.IngredientsListItem {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--elementBg);
  border-radius: 8px;
  padding: 10px 29px 10px 10px;
}

.name {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--header);
  font-weight: 500;
  font-size: 16px;
}

.image {
  width: 65px;
  height: 65px;
}

.numberList {
  display: flex;
  align-items: center;
  gap: 28px;
}

.measure {
  font-weight: 600;
  font-size: 12px;
  color: var(--primaryColor);
  background-color: var(--accent);
  padding: 4px;
  border-radius: 8px;
}

.list {
  width: 18px;
  height: 18px;
  background: none;
  border: 1px solid #7e7e7e80;
  border-radius: 4px;
}
