.RecipesList {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 100px;
  gap: 28px;
}

.RecipesListItem {
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .RecipesList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 50px;
    margin-bottom: 200px;
  }
  .RecipesListItem {
    flex-basis: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1024px) {
  .RecipesList {
    gap: 100px 14px;
  }
  .RecipesListItem {
    flex-basis: calc((100% - 42px) / 4);
  }
}
