<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Confirmation</title>
    <script>
      let countdown = 10;
      function startCountdown() {
        const countdownElement = document.getElementById("countdown");
        const interval = setInterval(() => {
          countdown--;
          countdownElement.textContent = countdown;
          if (countdown <= 0) {
            clearInterval(interval);
            window.location.href = "<%= redirectUrl %>";
          }
        }, 1000);
      }
      window.onload = startCountdown;
    </script>
    <style>
      body {
        margin: 0 auto;
        padding: 20px 0;
        width: fit-content;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      <%= info %> You will be redirected in
      <span id="countdown">10</span> seconds.
    </p>
    <p>
      If not, please click <a href="<%= redirectUrl %>">here</a> to redirect.
    </p>
  </body>
</html>
