.AboutApp {
  width: 100%;
  justify-content: left;
}

.info {
  max-width: 400px;
  margin-top: 14px;
}

@media screen and (min-width: 768px) {
  .AboutApp {
    width: 50%;
    justify-content: left;
    margin-top: 100px;
  }
}
