.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000c;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal {
  position: relative;
  width: 100%;
  max-width: 500px;
  padding: 60px 50px;

  background-color: var(--primaryColor);
  border-radius: 30px;
}

.Modal.isDark {
  background-color: var(--paginationBgDark);
}

.button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  color: currentColor;
}
