.FooterTerms {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin: 0 auto;
  padding: 28px 0;
  font-size: 14px;
  color: var(--secondColor);
  opacity: 0.5;
}

.rights {
  font-weight: 500;
}

.terms {
  font-weight: 400;
}
