.FooterInfo {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 32px;
}

.Logo {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 32px;
  height: 32px;
  fill: var(--secondAccent);
  stroke: var(--accent);
}

.List {
  display: none;
  list-style: inside none circle;
}

@media screen and (min-width: 768px) {
  .FooterInfo {
    font-size: 28px;
    flex-basis: 50%;
    margin: 0;
  }
  .Logo {
    justify-content: flex-start;
  }
  .icon {
    width: 44px;
    height: 44px;
  }
  .List {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
    margin-top: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .FooterInfo {
    flex-basis: auto;
    justify-content: space-between;
  }
  .List {
    gap: 12px;
    margin-top: 24px;
  }
}
